@import "tailwindcss";

/* .primary_button{
  @apply bg-slate-900 text-white px-6 py-2 rounded-md cursor-pointer hover:bg-slate-700
}

label{
  @apply text-slate-900 font-medium block mb-1
}

input{
  @apply border border-slate-300 p-2 rounded-md focus:outline-teal-500 w-full
} */